.table_container{
    margin: 0 auto;
    padding: 0;
}
.announce_table {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
    border: black solid 2px;
    border-collapse: collapse;
}
.announce_table thead {
    background-color: #cccccc;
}
.announce_table thead tr th {
    border: black solid 2px;
    padding: 10px;
}
.announce_table tbody tr td {
    border: #cccccc solid 1px;
    padding: 10px;
}
