.main_container {
    display: flex;
    justify-content: space-between;
    background-color: #7AC142FF;
    padding-left: 30px;
    padding-right: 30px;
    height: 30px;
    padding-top: 0;
    margin: 0 auto 30px;
}
.main_container span {
    color: #ffffff;
    line-height: 30px;
}