a {
    text-decoration: none;
    color: black;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
    border-top: 5px solid var(--green);
    float: left;
    width: 50%;
    padding: 40px;
    height: 50%;
    transform: translate(-50%, -50%);
}
.container h2 {
    text-align: left;
    color: #7ac142;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}